/* App.css */
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(94, 94, 115);
    background-color: #f9f9f9;
  }
  
  @media (min-width: 768px) {
    .App {
      max-width: 700px;
    }
  }
  
  @media (min-width: 1024px) {
    .App {
      max-width: 900px;
    }
  }
  